@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: "EB Garamond";
  }

  h1 {
    @apply text-largeMobile md:text-largeDesk font-light  text-brun-800 md:pb-xxs;
  }
  h2 {
    @apply text-mediumLargeMobile  md:text-mediumLargeDesk font-light  text-brun-700 md:pb-xxs;
  }
  h3 {
    @apply text-mediumMobile   md:text-mediumDesk font-light  text-brun-800 md:pb-xxs;
  }
  h4 {
    @apply text-smallMediumMobile md:text-smallMediumDesk font-light  text-brun-900 md:pb-xxs;
  }
  h5 {
    @apply text-smallMobile md:text-smallDesk font-light  text-brun-950 md:pb-xxs;
  }
  h6,
  summary,
  span {
    @apply text-baseMobile md:text-baseDesk font-light  text-brun-700;
  }
  p {
    @apply text-bodyMobile md:text-bodyDesk font-light  text-brun-950;
  }
}

@media (min-width: 769px) {
  /* General classnames */
  .pc-only {
    display: block;
  }

  .pc-hide {
    display: none;
  }
}
