---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import MegaMenu from "../components/MegaMenu.astro";
import { apiDetails } from "../settings";


type Kategori = {
  id: number;
  navn: string;
  slug: string;
};

const response = await fetch(`${apiDetails.supabaseUrl}/overkategorier?select=id,navn,slug`, {
  headers: {
    apikey: apiDetails.supabaseAnonKey,
  },
});

const kategorier: Kategori[] = await response.json();
---

<h1>Vores Kategorier</h1>
<ul>
  {kategorier.map((kategori) => (
    <li>
      <a href={`/${kategori.slug}`}>{kategori.navn}</a>
    </li>
  ))}
</ul>