---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Bento from "../components/Bento.astro";
import Instagram from "../components/Instagram.astro";
import Trestep from "../components/Trestep.astro";
import Tillykke from "../components/Tillykke.astro";
import Review from "../components/Review.astro";
import Cards from "../components/Cards.astro";
import Karrusel from "../components/Karrusel.astro";
import Typewrite from "../components/Typewrite.astro";
---

<MainLayout title="Forside">

  <Typewrite />
  <Karrusel />
  <Cards />
  <Bento />
  <Trestep />
  <Instagram />

  <div class="flex flex-wrap justify-center gap-m bg-[url('/bg_review.jpg')] bg-cover p-lg">
    <Review text="“Har netop modtaget vores konfirmationsinvitationer. Smukkeste indpakning og flotteste invitationer i den lækreste kvalitet. Kan ikke vente med  at sende dem ud.”" name="Gavin J." />
    <Review text="“Meget positivt overrasket over kvalitet og brugeroplevelse, da vi modtog vores varer. Lækker indpakning.”" name="Poul B." />
    <Review text="“Ville god service! Vi fik lavet vores invitationer af Emilie og hendes kollega gennem mail, og invitationerne blev præcis som vi ønskede. Der var hurtig levering både da vi modtog nogle forkerte invitationer og da de sendte de rigtige!”" name="Tine H." />
    <Review text="“Ualmindelig god, fleksibel og hurtig service. Vi har modtaget de smukkeste invitationer og den løbende dialog med rettelser og godkendelser af layoutet har været meget imødekommende og hurtig..”" name="Bjarne L." />
  </div>

  <Tillykke />

  
</MainLayout>
<a href="/produktliste">link</a>
