---
//ts-nocheck
import ListeLayout from "../layouts/MainLayout.astro";
import { apiDetails } from "../settings";
import ProductCard from "../components/ProductCard.astro"; 


const res = await fetch(`${apiDetails.supabaseUrl}/rest/v1/produkter?select=*`, {
  headers: {
    apikey: apiDetails.supabaseAnonKey,
    Authorization: `Bearer ${apiDetails.supabaseAnonKey}`,
  },
});
const data = await res.json();
console.log("Supabase URL:", apiDetails.supabaseUrl);
console.log("Supabase anonKey:", apiDetails.supabaseAnonKey);

---

<ListeLayout title="Bryllup">
<h1>Bryllup</h1>



<div class="flex flex-wrap gap-sm">{data.map((product) => <ProductCard {product} /> )}</div>
</ListeLayout>
