---

---

<nav class="bg-hvidgul-500  font-serif italic w-max-full p-xs mx-sm ">
    <ul class="flex   flex-row justify-around items-center">
      <li class="relative group">
        <a href="#" class="hover:underline"><h6>Barnedåb</h6></a>
          <!-- Dropdown -->
          <div class="absolute left-0 top-full hidden group-hover:flex bg-[#fffdf8] shadow-lg p-6 space-x-12 z-50">
            <!-- Før festen -->
            <div>
              <h6 class="italic mb-2 text-lg">Før festen</h6>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Invitationer</a></li>
                <li><a href="#" class="hover:underline">Tilbehør</a></li>
                <li><a href="#" class="hover:underline">Tillægskort</a></li>
                <li><a href="#" class="hover:underline">Formatsammensætning</a></li>
              </ul>
            </div>
    
            <!-- Under festen -->
            <div>
              <h6 class="italic mb-2 text-lg">Under festen</h6>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Skilte</a></li>
                <li><a href="#" class="hover:underline">Til bordet</a></li>
                <li><a href="#" class="hover:underline">Gæstebog</a></li>
                <li><a href="#" class="hover:underline">Salmehæfter</a></li>
                <li><a href="#" class="hover:underline">Klistermærker</a></li>
              </ul>
            </div>
    
            <!-- Efter festen -->
            <div>
              <h6 class="italic mb-2 text-lg">Efter festen</h6>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Takkekort</a></li>
              </ul>
            </div>
          </div>
      </li>
      <li class="relative group">
        <a href="#" class="hover:underline"><h6>Konfirmation</h6></a>
  
        <!-- Dropdown -->
        <div class="absolute left-0 top-full hidden group-hover:flex bg-[#fffdf8] shadow-lg p-6 space-x-12 z-30">
          <!-- Før festen -->
          <div>
            <h6 class="italic mb-2 text-lg">Før festen</h6>
            <ul class="space-y-1 not-italic text-black">
              <li><a href="#" class="hover:underline">Invitationer</a></li>
              <li><a href="#" class="hover:underline">Tilbehør</a></li>
              <li><a href="#" class="hover:underline">Tillægskort</a></li>
              <li><a href="#" class="hover:underline">Formatsammensætning</a></li>
            </ul>
          </div>
  
          <!-- Under festen -->
          <div>
            <h6 class="italic mb-2 text-lg">Under festen</h6>
            <ul class="space-y-1 not-italic text-black">
              <li><a href="#" class="hover:underline">Skilte</a></li>
              <li><a href="#" class="hover:underline">Til bordet</a></li>
              <li><a href="#" class="hover:underline">Gæstebog</a></li>
              <li><a href="#" class="hover:underline">Salmehæfter</a></li>
              <li><a href="#" class="hover:underline">Klistermærker</a></li>
            </ul>
          </div>
  
          <!-- Efter festen -->
          <div>
            <h6 class="italic mb-2 text-lg">Efter festen</h6>
            <ul class="space-y-1 not-italic text-black">
              <li><a href="#" class="hover:underline">Takkekort</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="relative group">
        <a href="#" class="hover:underline"><h6>Bryllup</h6></a>
          <!-- Dropdown -->
          <div class="absolute left-0 top-full hidden group-hover:flex bg-[#fffdf8] shadow-lg p-6 space-x-12 z-30">
            <!-- Før festen -->
            <div>
              <h6 class="italic mb-2 text-lg">Før festen</h6>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Invitationer</a></li>
                <li><a href="#" class="hover:underline">Tilbehør</a></li>
                <li><a href="#" class="hover:underline">Tillægskort</a></li>
                <li><a href="#" class="hover:underline">Formatsammensætning</a></li>
              </ul>
            </div>
    
            <!-- Under festen -->
            <div>
              <h6 class="italic mb-2 text-lg">Under festen</h6>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Skilte</a></li>
                <li><a href="#" class="hover:underline">Til bordet</a></li>
                <li><a href="#" class="hover:underline">Gæstebog</a></li>
                <li><a href="#" class="hover:underline">Salmehæfter</a></li>
                <li><a href="#" class="hover:underline">Klistermærker</a></li>
              </ul>
            </div>
    
            <!-- Efter festen -->
            <div>
              <h6 class="italic mb-2 text-lg">Efter festen</h6>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Takkekort</a></li>
              </ul>
            </div>
          </div>
      </li>
      <li class="relative group">
        <a href="#" class="hover:underline"><h6>Fester</h6></a>
          <!-- Dropdown -->
          <div class="absolute left-0 top-full hidden group-hover:flex bg-[#fffdf8] shadow-lg p-6 space-x-12 z-30">
            <!-- Før festen -->
            <div>
              <h6 class="italic mb-2 text-lg">Før festen</h6>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Invitationer</a></li>
                <li><a href="#" class="hover:underline">Tilbehør</a></li>
                <li><a href="#" class="hover:underline">Tillægskort</a></li>
                <li><a href="#" class="hover:underline">Formatsammensætning</a></li>
              </ul>
            </div>
    
            <!-- Under festen -->
            <div>
              <h6 class="italic mb-2 text-lg">Under festen</h6>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Skilte</a></li>
                <li><a href="#" class="hover:underline">Til bordet</a></li>
                <li><a href="#" class="hover:underline">Gæstebog</a></li>
                <li><a href="#" class="hover:underline">Salmehæfter</a></li>
                <li><a href="#" class="hover:underline">Klistermærker</a></li>
              </ul>
            </div>
    
            <!-- Efter festen -->
            <div>
              <h6 class="italic mb-2 text-lg">Efter festen</h6>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Takkekort</a></li>
              </ul>
            </div>
          </div>
      </li>
      <li class="relative group">
        <a href="#" class="hover:underline"><h6>Fødselsdag</h6></a>
          <!-- Dropdown -->
          <div class="absolute left-0 top-full hidden group-hover:flex bg-[#fffdf8] shadow-lg p-6 space-x-12 z-30">
            <!-- Før festen -->
            <div>
              <h6 class="italic mb-2 text-lg">Før festen</h6>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Invitationer</a></li>
                <li><a href="#" class="hover:underline">Tilbehør</a></li>
                <li><a href="#" class="hover:underline">Tillægskort</a></li>
                <li><a href="#" class="hover:underline">Formatsammensætning</a></li>
              </ul>
            </div>
    
            <!-- Under festen -->
            <div>
              <h6 class="italic mb-2 text-lg">Under festen</h6>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Skilte</a></li>
                <li><a href="#" class="hover:underline">Til bordet</a></li>
                <li><a href="#" class="hover:underline">Gæstebog</a></li>
                <li><a href="#" class="hover:underline">Salmehæfter</a></li>
                <li><a href="#" class="hover:underline">Klistermærker</a></li>
              </ul>
            </div>
    
            <!-- Efter festen -->
            <div>
              <h6 class="italic mb-2 text-lg">Efter festen</h6>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Takkekort</a></li>
              </ul>
            </div>
          </div>
      </li>
      <li class="relative group">
        <a href="../faq" class="hover:underline"><h6>FAQ</h6></a>
     
      </li>
    </ul>
  </nav>
  