---

---

<section class="hidden md:block">
    <nav class="bg-hvidgul-500 font-serif italic w-max-full p-xs ">
        <ul class="flex   flex-row justify-around items-center text-brun-700">
            <li class="relative group">
                <a href="/produktliste" class="hover:underline"><h6  >Barnedåb</h6></a>
              
                <!-- Dropdown -->
                <div class="absolute top-0 left-[-100%]  w-screen hidden group-hover:flex justify-around gap-7xl px-4xl py-lg bg-hvidgul-500 shadow-lg z-50 ">
                  <!-- Før festen -->
                  <div>
                    <h6 class="italic mb-2 text-lg">Før festen</h6>
                    <ul class="space-y-1 not-italic text-black">
                      <li><a href="/produktliste" class="hover:italic">Invitationer</a></li>
                      <li><a href="/produktliste" class="hover:italic">Tilbehør</a></li>
                      <li><a href="/produktliste" class="hover:italic">Tillægskort</a></li>
                      <li><a href="/produktliste" class="hover:italic">Formatsammensætning</a></li>
                    </ul>
                  </div>
              
                  <!-- Under festen -->
                  <div>
                    <h6 class="italic mb-2 text-lg">Under festen</h6>
                    <ul class="space-y-1 not-italic text-black">
                      <li><a href="/produktliste" class="hover:italic">Skilte</a></li>
                      <li><a href="/produktliste" class="hover:italic">Til bordet</a></li>
                      <li><a href="/produktliste" class="hover:italic">Gæstebog</a></li>
                      <li><a href="/produktliste" class="hover:italic">Salmehæfter</a></li>
                      <li><a href="/produktliste" class="hover:italic">Klistermærker</a></li>
                    </ul>
                  </div>
              
                  <!-- Efter festen -->
                  <div>
                    <h6 class="italic mb-2 text-lg">Efter festen</h6>
                    <ul class="space-y-1 not-italic text-black">
                      <li><a href="/produktliste" class="hover:italic">Takkekort</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              
          <li class="relative group">
            <a href="/produktliste" class="hover:underline"><h6>Konfirmation</h6></a>
      
            <!-- Dropdown -->
            <div class="absolute top-0 left-[-270%]  w-screen  hidden group-hover:flex justify-around gap-7xl px-4xl py-lg bg-hvidgul-500 shadow-lg z-50">
              <!-- Før festen -->
              <div>
                <h6 class="italic mb-2 text-lg">Før festen</h6>
                <ul class="space-y-1 not-italic text-black">
                  <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Invitationer</a></li>
                  <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Tilbehør</a></li>
                  <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Tillægskort</a></li>
                  <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Formatsammensætning</a></li>
                </ul>
              </div>
      
              <!-- Under festen -->
              <div>
                <h6 class="italic mb-2 text-lg">Under festen</h6>
                <ul class="space-y-1 not-italic text-black">
                  <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Skilte</a></li>
                  <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Til bordet</a></li>
                  <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Gæstebog</a></li>
                  <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Salmehæfter</a></li>
                  <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Klistermærker</a></li>
                </ul>
              </div>
      
              <!-- Efter festen -->
              <div>
                <h6 class="italic mb-2 text-lg">Efter festen</h6>
                <ul class="space-y-1 not-italic text-black">
                  <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Takkekort</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="relative group">
            <a href="/produktliste" class="hover:underline"><h6>Bryllup</h6></a>
              <!-- Dropdown -->
              <div class="absolute top-0 left-[-620px] w-screen  hidden group-hover:flex justify-around gap-7xl px-4xl py-lg bg-hvidgul-500 shadow-lg z-50">
                <!-- Før festen -->
                <div>
                  <h6 class="italic mb-2 text-lg">Før festen</h6>
                  <ul class="space-y-1 not-italic text-black">
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Invitationer</a></li>
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Tilbehør</a></li>
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Tillægskort</a></li>
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Formatsammensætning</a></li>
                  </ul>
                </div>
        
                <!-- Under festen -->
                <div>
                  <h6 class="italic mb-2 text-lg">Under festen</h6>
                  <ul class="space-y-1 not-italic text-black">
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Skilte</a></li>
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Til bordet</a></li>
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Gæstebog</a></li>
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Salmehæfter</a></li>
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Klistermærker</a></li>
                  </ul>
                </div>
        
                <!-- Efter festen -->
                <div>
                  <h6 class="italic mb-2 text-lg">Efter festen</h6>
                  <ul class="space-y-1 not-italic text-black">
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Takkekort</a></li>
                  </ul>
                </div>
              </div>
          </li>
          <li class="relative group">
            <a href="/produktliste" class="hover:underline"><h6>Fester</h6></a>
              <!-- Dropdown -->
              <div class="absolute top-0 left-[-844px] w-screen  hidden group-hover:flex justify-around gap-7xl px-4xl py-lg bg-hvidgul-500 shadow-lg z-50">
                <!-- Før festen -->
                <div>
                  <h6 class="italic mb-2 text-lg">Før festen</h6>
                  <ul class="space-y-1 not-italic text-black">
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Invitationer</a></li>
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Tilbehør</a></li>
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Tillægskort</a></li>
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Formatsammensætning</a></li>
                  </ul>
                </div>
        
                <!-- Under festen -->
                <div>
                  <h6 class="italic mb-2 text-lg">Under festen</h6>
                  <ul class="space-y-1 not-italic text-black">
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Skilte</a></li>
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Til bordet</a></li>
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Gæstebog</a></li>
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Salmehæfter</a></li>
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Klistermærker</a></li>
                  </ul>
                </div>
        
                <!-- Efter festen -->
                <div>
                  <h6 class="italic mb-2 text-lg">Efter festen</h6>
                  <ul class="space-y-1 not-italic text-black">
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Takkekort</a></li>
                  </ul>
                </div>
              </div>
          </li>
          <li class="relative group">
            <a href="/produktliste" class="hover:underline"><h6>Fødselsdag</h6></a>
              <!-- Dropdown -->
              <div class="absolute top-0 left-[-1050px] w-screen  hidden group-hover:flex justify-around gap-7xl px-4xl py-lg bg-hvidgul-500 shadow-lg z-50">
                <!-- Før festen -->
                <div>
                  <h6 class="italic mb-2 text-lg">Før festen</h6>
                  <ul class="space-y-1 not-italic text-black">
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Invitationer</a></li>
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Tilbehør</a></li>
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Tillægskort</a></li>
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Formatsammensætning</a></li>
                  </ul>
                </div>
        
                <!-- Under festen -->
                <div>
                  <h6 class="italic mb-2 text-lg">Under festen</h6>
                  <ul class="space-y-1 not-italic text-black">
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Skilte</a></li>
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Til bordet</a></li>
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Gæstebog</a></li>
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Salmehæfter</a></li>
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Klistermærker</a></li>
                  </ul>
                </div>
        
                <!-- Efter festen -->
                <div>
                  <h6 class="italic mb-2 text-lg">Efter festen</h6>
                  <ul class="space-y-1 not-italic text-black">
                    <li><a href="/produktliste" class="hover:italic transition ease-in 0.3s">Takkekort</a></li>
                  </ul>
                </div>
              </div>
          </li>
          <li class="relative group">
            <a href="../faq" class="hover:underline"><h6>FAQ</h6></a>
         
          </li>
        </ul>
      </nav>
</section>
