---

---

<nav class="bg-hvidgul-500 p-4 font-serif italic w-full">
    <ul class="flex  flex-row justify-between">
      <li class="relative group">
        <a href="#" class="hover:underline">Barnedåb</a>
          <!-- Dropdown -->
          <div class="absolute left-0 top-full hidden group-hover:flex bg-[#fffdf8] shadow-lg p-6 space-x-12 z-10">
            <!-- Før festen -->
            <div>
              <h4 class="italic mb-2 text-lg">Før festen</h4>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Invitationer</a></li>
                <li><a href="#" class="hover:underline">Tilbehør</a></li>
                <li><a href="#" class="hover:underline">Tillægskort</a></li>
                <li><a href="#" class="hover:underline">Formatsammensætning</a></li>
              </ul>
            </div>
    
            <!-- Under festen -->
            <div>
              <h4 class="italic mb-2 text-lg">Under festen</h4>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Skilte</a></li>
                <li><a href="#" class="hover:underline">Til bordet</a></li>
                <li><a href="#" class="hover:underline">Gæstebog</a></li>
                <li><a href="#" class="hover:underline">Salmehæfter</a></li>
                <li><a href="#" class="hover:underline">Klistermærker</a></li>
              </ul>
            </div>
    
            <!-- Efter festen -->
            <div>
              <h4 class="italic mb-2 text-lg">Efter festen</h4>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Takkekort</a></li>
              </ul>
            </div>
          </div>
      </li>
      <li class="relative group">
        <a href="#" class="hover:underline">Konfirmation</a>
  
        <!-- Dropdown -->
        <div class="absolute left-0 top-full hidden group-hover:flex bg-[#fffdf8] shadow-lg p-6 space-x-12 z-10">
          <!-- Før festen -->
          <div>
            <h4 class="italic mb-2 text-lg">Før festen</h4>
            <ul class="space-y-1 not-italic text-black">
              <li><a href="#" class="hover:underline">Invitationer</a></li>
              <li><a href="#" class="hover:underline">Tilbehør</a></li>
              <li><a href="#" class="hover:underline">Tillægskort</a></li>
              <li><a href="#" class="hover:underline">Formatsammensætning</a></li>
            </ul>
          </div>
  
          <!-- Under festen -->
          <div>
            <h4 class="italic mb-2 text-lg">Under festen</h4>
            <ul class="space-y-1 not-italic text-black">
              <li><a href="#" class="hover:underline">Skilte</a></li>
              <li><a href="#" class="hover:underline">Til bordet</a></li>
              <li><a href="#" class="hover:underline">Gæstebog</a></li>
              <li><a href="#" class="hover:underline">Salmehæfter</a></li>
              <li><a href="#" class="hover:underline">Klistermærker</a></li>
            </ul>
          </div>
  
          <!-- Efter festen -->
          <div>
            <h4 class="italic mb-2 text-lg">Efter festen</h4>
            <ul class="space-y-1 not-italic text-black">
              <li><a href="#" class="hover:underline">Takkekort</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="relative group">
        <a href="#" class="hover:underline">Bryllup</a>
          <!-- Dropdown -->
          <div class="absolute left-0 top-full hidden group-hover:flex bg-[#fffdf8] shadow-lg p-6 space-x-12 z-10">
            <!-- Før festen -->
            <div>
              <h4 class="italic mb-2 text-lg">Før festen</h4>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Invitationer</a></li>
                <li><a href="#" class="hover:underline">Tilbehør</a></li>
                <li><a href="#" class="hover:underline">Tillægskort</a></li>
                <li><a href="#" class="hover:underline">Formatsammensætning</a></li>
              </ul>
            </div>
    
            <!-- Under festen -->
            <div>
              <h4 class="italic mb-2 text-lg">Under festen</h4>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Skilte</a></li>
                <li><a href="#" class="hover:underline">Til bordet</a></li>
                <li><a href="#" class="hover:underline">Gæstebog</a></li>
                <li><a href="#" class="hover:underline">Salmehæfter</a></li>
                <li><a href="#" class="hover:underline">Klistermærker</a></li>
              </ul>
            </div>
    
            <!-- Efter festen -->
            <div>
              <h4 class="italic mb-2 text-lg">Efter festen</h4>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Takkekort</a></li>
              </ul>
            </div>
          </div>
      </li>
      <li class="relative group">
        <a href="#" class="hover:underline">Fester</a>
          <!-- Dropdown -->
          <div class="absolute left-0 top-full hidden group-hover:flex bg-[#fffdf8] shadow-lg p-6 space-x-12 z-10">
            <!-- Før festen -->
            <div>
              <h4 class="italic mb-2 text-lg">Før festen</h4>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Invitationer</a></li>
                <li><a href="#" class="hover:underline">Tilbehør</a></li>
                <li><a href="#" class="hover:underline">Tillægskort</a></li>
                <li><a href="#" class="hover:underline">Formatsammensætning</a></li>
              </ul>
            </div>
    
            <!-- Under festen -->
            <div>
              <h4 class="italic mb-2 text-lg">Under festen</h4>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Skilte</a></li>
                <li><a href="#" class="hover:underline">Til bordet</a></li>
                <li><a href="#" class="hover:underline">Gæstebog</a></li>
                <li><a href="#" class="hover:underline">Salmehæfter</a></li>
                <li><a href="#" class="hover:underline">Klistermærker</a></li>
              </ul>
            </div>
    
            <!-- Efter festen -->
            <div>
              <h4 class="italic mb-2 text-lg">Efter festen</h4>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Takkekort</a></li>
              </ul>
            </div>
          </div>
      </li>
      <li class="relative group">
        <a href="#" class="hover:underline">Fødselsdag</a>
          <!-- Dropdown -->
          <div class="absolute left-0 top-full hidden group-hover:flex bg-[#fffdf8] shadow-lg p-6 space-x-12 z-10">
            <!-- Før festen -->
            <div>
              <h4 class="italic mb-2 text-lg">Før festen</h4>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Invitationer</a></li>
                <li><a href="#" class="hover:underline">Tilbehør</a></li>
                <li><a href="#" class="hover:underline">Tillægskort</a></li>
                <li><a href="#" class="hover:underline">Formatsammensætning</a></li>
              </ul>
            </div>
    
            <!-- Under festen -->
            <div>
              <h4 class="italic mb-2 text-lg">Under festen</h4>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Skilte</a></li>
                <li><a href="#" class="hover:underline">Til bordet</a></li>
                <li><a href="#" class="hover:underline">Gæstebog</a></li>
                <li><a href="#" class="hover:underline">Salmehæfter</a></li>
                <li><a href="#" class="hover:underline">Klistermærker</a></li>
              </ul>
            </div>
    
            <!-- Efter festen -->
            <div>
              <h4 class="italic mb-2 text-lg">Efter festen</h4>
              <ul class="space-y-1 not-italic text-black">
                <li><a href="#" class="hover:underline">Takkekort</a></li>
              </ul>
            </div>
          </div>
      </li>
      <li class="relative group">
        <a href="../faq" class="hover:underline">FAQ</a>
     
      </li>
    </ul>
  </nav>
  