---
---
<div class="max-w-screen-xl mx-auto text-hvidgul-50 bg-transparent-brun">
<div class=" flex flex-row content-baseline border-b-hvidgul-50">
    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
        <path d="M15.1269 13.2813H14.2235L13.9033 12.9725C15.0628 11.6278 15.7 9.911 15.6986 8.13546C15.6986 6.66538 15.2627 5.22833 14.446 4.00601C13.6293 2.78368 12.4684 1.831 11.1102 1.26843C9.75207 0.705857 8.25758 0.558663 6.81576 0.84546C5.37393 1.13226 4.04953 1.84016 3.01003 2.87966C1.97053 3.91916 1.26263 5.24356 0.975831 6.68539C0.689034 8.12721 0.836228 9.6217 1.3988 10.9799C1.96137 12.338 2.91406 13.4989 4.13638 14.3156C5.3587 15.1323 6.79576 15.5683 8.26583 15.5683C10.1069 15.5683 11.7993 14.8936 13.1029 13.773L13.4116 14.0931V14.9965L19.1292 20.7026L20.833 18.9988L15.1269 13.2813ZM8.26583 13.2813C5.41849 13.2813 3.12003 10.9828 3.12003 8.13546C3.12003 5.28812 5.41849 2.98966 8.26583 2.98966C11.1132 2.98966 13.4116 5.28812 13.4116 8.13546C13.4116 10.9828 11.1132 13.2813 8.26583 13.2813Z" fill="#FFFDFA"/>
        </svg>        
        <h6 class="italic text-hvidgul-50">Søg</h6>
</div>

<!-- logo -->

<div>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
     <path d="M10 20.5L8.55 19.0613C3.4 13.9714 0 10.6035 0 6.49455C0 3.1267 2.42 0.5 5.5 0.5C7.24 0.5 8.91 1.38283 10 2.76703C11.09 1.38283 12.76 0.5 14.5 0.5C17.58 0.5 20 3.1267 20 6.49455C20 10.6035 16.6 13.9714 11.45 19.0613L10 20.5Z" fill="#E1683B"/>
    </svg>
</div>

</div>
    