---
const { product } = Astro.props;
---

<article class="w-7xl">
    <div class="bg-orange-300 w-[300px] h-[330px]"></div>
    <h6 class="font-light">{product.name}</h6>
    <p class="italic font-light">{product.kategori}</p>

</article>