---
const { product } = Astro.props;
---

<article class="w-7xl">
    <a href={`/product/${product.slug}`}>
      <div class="bg-orange-300 w-[300px] h-[330px]"></div>
    </a>
    <h6 class="font-light">{product.name}</h6>
    <p class="italic font-light">{product.kategori}</p>
  </article>
  