---
import { Image } from "astro:assets";
import boheme from "../assets/images/boheme_fg.jpg";
import tillykke from "../assets/images/tillykke_pic.jpg";
---

<section class="px-s sm:mx-xl my-xl  text-brun-800">
  <div class="max-w-screen-xl mx-auto">
    <!-- Overskrifter -->
    <div class="my-s">
      <h3 class="text-4xl sm:text-5xl">
        Stort <i class="italic font-normal">tillykke</i>
      </h3>
      <h5 class="mt-2 text-lg font-light leading-relaxed ">
        – når I kigger forbi hos INK Saloon, er I helt sikkert i gang med at planlægge en festlig begivenhed. Vi er så glade for, at I er her – vi glæder os til at designe unikke invitationer og smuk pynt til netop jeres fest.
      </h5>
    </div>

    <!-- Indhold: tekst og billede -->
    <div class="grid sm:grid-cols-5 gap-xs sm:mt-s items-start">
      <!-- Tekstkolonne -->
      <div class="sm:col-span-3">
        <p class="text-base leading-relaxed sm:pr-lg sm:pt-none pt-s">
          Hos INK Saloon designer vi eksklusive invitationer og papirvarer til livets fester – bryllup, barnedåb, konfirmation, fødselsdag og meget mere.
          <br /><br />
          Med over 13 års erfaring og 15.000 fester bag os, er vi blandt Danmarks førende designstudios inden for personlige invitationer og matchende festpynt. Vælg mellem unikke designs, som I selv tilpasser med tekst, fotos og detaljer direkte på vores hjemmeside.
          <br /><br />
          Vi bruger nøje udvalgte papirkvaliteter og samarbejder med de bedste trykkerier for at sikre et elegant udtryk – fra bordkort og menukort til takkekort og velkomstskilte.
          <br /><br />
          Hos os får I moderne, tidsløst design og en rød tråd til jeres store dag – skabt med passion, præcision og sans for detalje.
        </p>
      </div>

      <!-- Billedekolonne -->
      <div class="sm:col-span-2 sticky top-10 self-start sm:pt-none pt-sm hidden md:block drop-shadow-2xl">
        <Image src={tillykke} alt="Invitation design eksempel" class="w-full h-8xl rounded-md object-cover" />
      </div>
    </div>
  </div>
</section>
 
