---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css";
import "animate.css";
const { title } = Astro.props;
import FakeNav from "../components/FakeNav.astro";

---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    
    <!-- FAVIKON -->

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />


    <title>{Astro.props.title}</title>
		<link
		  rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
		/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet" />
  </head>
  <body class="bg-hvidgul-500">
    <header>
      
	  <section class="relative ">
		<!-- VIDEO baggrund -->
		<div class="absolute inset-0 w-full  z-20 overflow-hidden ">
			<Header />
		</div>
		
		<!-- TEKST / INDHOLD OVENPÅ VIDEO -->
		<div class="relative -z-10 flex  sm:h-[600px] h-[400px]">
			<video autoplay muted loop playsinline class="w-full h-full object-cover">
			  <source src="/herovideo.mp4" type="video/mp4" />
			</video>
		</div>
	</section>
</header>


    <main>
      <slot />
    </main>

    <footer>
      <Footer />
    </footer>
  </body>

  <script src="../js/adgangskode.js"></script>
</html>
